@import "tailwindcss";

:root {
  --green-turtle: #73f36c;
  --black-turtle: #141514;
  --black-highlight: #F9F9F9;
}

@theme inline {
  --color-green-turtle: var(--green-turtle);
  --color-black-turtle: var(--black-turtle);
  --color-black-highlight: var(--black-highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-dm-sans);
  background-color: var(--black-turtle);
}

/* Mejorar renderizado de SVGs */
img[src$=".svg"],
svg {
  image-rendering: auto;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
